<body class="text-center">
   <!--
    <ul *ngFor="let project of projects">
        <li>{{project.title}}</li>
        <li>{{project.subject}}</li>
    </ul>
     <ul *ngFor="let project of projects">
          <li><img src="{{project.img}}"></li>  
        </ul>
    -->
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  
    <app-navbar></app-navbar>
    <br/>
    <br/>
    <div class="container">
      <div class="row text-center text-lg-left">
        <!--
        <div class="col-lg-4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{project.img}}" alt="">
          </a>
          img-fluid img-thumbnail
        </div>
        -->
        <ul *ngFor="let project of projects">
            <li class="inline"><img class="grow img-fluid img-thumbnail"src="{{project.img}}"></li>
        </ul>
      </div>
    </div>


    <footer class="mt-auto">
      <div class="inner">
        <p>© 2018 Donovan C. Brown, Powered by Angular.</p>
      </div>
    </footer>
  </div>
  </body>