ul{
    margin-left: 2px ;
}

li{
    display: inline;
}

img{
   height: 100px;
}

.grow{
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

.grow:hover { 
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2.0);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2.0);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2.0);
    transition: all 200ms ease-in;
    transform: scale(2.0);
}