<body class="text-center">
   <!--
    <ul *ngFor="let project of projects">
        <li>{{project.title}}</li>
        <li>{{project.subject}}</li>
    </ul>
    -->
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  
    <app-navbar></app-navbar>
    <br/>
    <br/>
    <div class="container">
      <div class="row text-center text-lg-left">

        <div class="col-lg-4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
        <div class="col-lg4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
        <div class="col-lg4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
        <div class="col-lg4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/600x500" alt="">
          </a>
        </div>
      </div>
     
    </div>


    <footer class="mt-auto">
      <div class="inner">
        <p>© 2018 Donovan C. Brown, Powered by Angular.</p>
      </div>
    </footer>
  </div>
  </body>