/* You can add global styles to this file, and also import other style files */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color:rgba(0, 123, 255, 0.5)!important;
  color: #fff!important;
}

a{
  color:#fff!important;
}

a .fa:hover{
  color:yellow;
}


.le{
    margin: 0 20px 0 0;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.dropdown-item {
  color:black!important;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgb(246, 255, 0, 0.5)!important;
}

.cover-container{
  height: 100%!important;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #000;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: yellow;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #fff;
}

.cover-container{
  background-image: url('assets/img/blue_donovan.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.scroll{
  overflow: scroll;
  height: 450px;
}

.btn{
  border: 2px solid #fff!important;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid #fff;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: #fff;  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #fffa1c;  
  }

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
